<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Parques
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  

  
  
  
  <!-- Searchbar with a cancel button and custom cancel button text -->
  <ion-searchbar showCancelButton cancelButtonText="Custom Cancel"
  [(ngModel)]="localidad" (ionChange)="busquedalocalidad()">


  </ion-searchbar>
  <ion-list  class="list list-md hydrated" *ngFor="let par of parques; let i = index">
    <div class="item-note" >
      {{par.localidad}}
    </div>

 
    
  </ion-list>

  
  
</ion-content>
<ion-footer>
    <ion-fab vertical="bottom" horizontal="end" >
    <ion-fab-button>
      <ion-icon name="search"></ion-icon>
      
    </ion-fab-button>
    <ion-fab-list side="start">
      
          
    </ion-fab-list>
    <ion-searchbar color="danger">assddsfsdfdfs</ion-searchbar>
  </ion-fab>
</ion-footer>
